# Virtual environment
venv/

# Large files
results/
finetuned_distilbert/
*.safetensors
*.bin
*.pt
*.pth

# Cached files
__pycache__/
*.py[cod]
*.log

# Environment files
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db
